.nav-container.fixed {
  background-color: #fff;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0 10px 10px
}

.logo-icon {
  width: auto;
  height: 80px;
  margin-top: -30px
}

.logo {
  text-decoration: none
}

.logo, .logo img {
  display: inline-block;
  vertical-align: middle
}

.logo img {
  margin-right: 20px
}

.nav-social-icons {
  margin-bottom: 7px
}

.nav {
  width: 800px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: -75px;
  text-align: right
}

.nav .btn {
  margin-top: -9px;
  margin-right: 40px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 16px
}

.nav__item {
  margin: 0 15px;
  -webkit-transition: color .2s;
  transition: color .2s;
  text-decoration: none;
  font-size: 20px;
  color: #000
}

.nav__item:hover {
  color: #e84c3d
}

.production-section {
  padding-top: 30px;
  background: url(../i/favicons/header-bottom-line.png) top no-repeat
}

.production-section__thumbnail {
  position: relative;
  top: 90px;
  left: 50px;
  width: 300px !important
}

.production-section__thumbnail p, .stickers_production p {
  font-size: 20px
}

.stickers_production img {
  max-height: 300px
}

.stickers_form {
  margin-top: 40px
}

.complement-section {
  background: #f1f1f1;
  width: 100%;
  margin: 0 auto;
  display: table
}

.complement-section__background {
  background: #f1f1f1
}

.become-list {
  list-style: none
}

.mini-complect-img {
  width: auto;
  height: 400px;
  margin: 0 auto
}

.row__complement-images {
  margin-top: 10px
}

.row__complement-images .col-xs-2 {
  padding-right: 5px;
  padding-left: 5px
}

#complementHuge, #complementMini, #complementOptimal, #complementStandard {
  overflow-y: scroll
}

#img-complement-mini-active, #img-complement-optimal-active, #img-complement-standard-active {
  width: 400px !important
}

#img-complement-huge-active {
  width: 400px !important;
  margin: 0 auto
}

#complementHugeModalImage, #complementMiniModalImage, #complementOptimalModalImage, #complementStandardModalImage {
  margin: 0 auto
}

.huge-complement-description, .mini-complement-description, .optimal-complement-description, .standard-complement-description {
  font-size: 25px
}

.complement-modal-dialog-image {
  width: 1150px !important
}

.complement-modal-dialog-square-image {
  width: 900px
}

.complement-modal-content-square-image {
  height: 900px
}

.complement-modal-square-image {
  width: 850px !important;
  height: 850px !important
}

.about-us-section {
  padding-top: 20px;
  padding-bottom: 20px
}

.about-us-section__description {
  height: 430px;
  overflow-y: scroll
}

.why-choose-us-section {
  background: #f1f1f1;
  width: 100%;
  margin: 0 auto
}

.why-choose-us-section__background {
  padding: 30px 0;
  background: #f1f1f1
}

.how-we-work-section {
  padding-top: 20px
}

.footer-section {
  font-size: 20px;
  padding-bottom: 20px;
  display: table;
  width: 100%
}

.footer-section, .footer-section__background {
  background: #f1f1f1
}

.footer-section-btn {
  margin-top: -9px;
  margin-right: 40px;
  padding: 15px 30px;
  font-size: 20px !important
}

.footer-section-tel {
  margin-bottom: 14px;
  color: #000
}

.footer-section-social-list li, .footer-section-tel {
  display: inline-block
}

.footer-logo {
  margin-top: 20px
}

.footer-logo li {
  display: inline-block
}

.btn-default {
  background: #000 !important;
  color: #fff !important;
  font-size: 12px;
  font-weight: 700 !important;
  letter-spacing: 1px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2) !important
}

.page-header {
  margin-top: 0 !important
}

@media (min-width:1200px) {
  .modal-lg {
    width: 1200px !important
  }
}

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

#orderCallForm {
  z-index: 5000 !important
}

.orderCallForm {
  margin: 0 auto
}

.thumbnail-optimal {
  background: #f0774e !important
}

.complement-section h4 {
  font-size: 23px !important
}

#btn-order-call-2, .btn-complement-order {
  font-size: 20px
}

.btn-complement {
  font-size: 13px
}

.big-width {
  width: 1200px !important
}


.hello {
  color: #f00;
}
